@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
    --text: #353641;
    --nav-text: #f8f8f8;
    --jet: #312F2F;
    --roman-silver: #7D8491;
    --amber-sae-ece: #FF7F11;
    --glaucous: #6279B8;
    --light-cyan: #DDFFF7;
    --light-text: #bdbcbc;
    --form-bg: #f2f2f4;
    --white: #fff;
    --card-og: #17141d;
    --speed: .5s;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: var(--jet);
    color: var(--jet);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('tools.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

section div {
    border: 1px solid #fff;
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: rgba(255,255,255, .1);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    margin: 0 5px;
}

h1 {
    margin:0;
}