@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
    --text: #353641;
    --nav-text: #f8f8f8;
    --jet: #312F2F;
    --roman-silver: #7D8491;
    --amber-sae-ece: #FF7F11;
    --glaucous: #6279B8;
    --light-cyan: #DDFFF7;
    --light-text: #bdbcbc;
    --form-bg: #f2f2f4;
    --white: #fff;
    --card-og: #17141d;
    --speed: .5s;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* side-nav */

.navbar {
    position: fixed;
    background: var(--jet);
    transition: width var(--speed) ease;
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child, .project-btn {
    margin-top: auto;
}

.nav-item svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--speed);
}

.navbar:hover .logo svg {
    display: flex;
    transform: rotate(-180deg);
    color: var(--nav-text);
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: var(--nav-text);
    height: 5rem;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--speed);
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--nav-text);
    background-color: var(--colour1);
    font-size: 0.8rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.nav-link:hover {
    background: var(--text);
    filter: grayscale(0%) opacity(1);
}

.navbar:hover .logo svg {
    margin: 0;
}

.link-text {
    display: none;
    margin: 1rem;
}

/* Header */

main, footer {
    padding: 1rem;
    margin-left: 5rem;
}

#profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    animation: move 2s;
}

header:not([class]) {
    padding: 1rem;
    text-align: center;
    background: var(--jet);
    color: var(--light-text);
    height: 100vh;
}

header {
    position: relative;
    animation: move 2s;
}

/* Skill Cards */

.card-list {
    padding: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--form-bg);
    box-shadow: -1rem 0 3rem var(--text);
    transition: .2s;
}

.card-header p {
    color: var(--text);
}

.card-header h2, .content {
    margin: 0;
    color: var(--text);
}

/* Contact Form */

form {
    display: block;
}

.form-box {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 3rem;
}

.field {
    width: 100%;
    margin: 0 auto;
}

.field:nth-child(2) {
    padding-left: 2rem;
}

.input {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0 .5rem;
}

textarea {
    width: 100%;
    height: 10rem !important;
    resize: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding: .5rem .5rem;
}

input, textarea {
    border: 1px solid #000;
    border-radius: 0;
}

fieldset {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #f2f2f4;
    background: var(--form-bg);
}

label {
    font-size: 1.5rem;
}

.submit {
    width: 100%;
    max-width: 180px;
    height: 60px;
    background: var(--amber-sae-ece);
    color: var(--nav-text);
    font-size: 1.5rem;
    margin: 0 auto;
    border-color: var(--amber-sae-ece);
    border-radius: 10px;
    cursor: pointer;
}

.contact-icon {
    padding-top: 2rem;
    height: 2rem;
    width: 2rem;
    color: var(--glaucous);
    padding: 5rem 2.5rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field .submit {
    display: flex;
    justify-content: center;
}

/* Projects */
.project-btn {
    background-color: var(--amber-sae-ece);
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    bottom: 40px;
}

/* Main Body */

section div h2, .aboutme-cv {
    text-align: center;
}

.aboutme-cv a {
    background-color: var(--amber-sae-ece);
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--nav-text);
    border-radius: 10px;
}

h2 {
    font-size: 2.75rem;
}

h1 {
    font-size: 4rem;
}

.aboutme-text {
    font-size: 2.1rem;
}

.animate {
    position: relative;
    animation: move 3s;
}

@-webkit-keyframes move {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes move {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@-o-keyframes move {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes move {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

/* Media Queries */

@media only screen and (max-width:600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        margin-top: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main, header {
        margin: 0;
    }
    header {
        clip-path: unset;
        margin-left: 0;
    }
    footer {
        margin-bottom: 6rem;
    }
    .aboutme-cv {
        text-align: center;
    }
    .aboutme-text {
        margin: 0;
        padding-bottom: 3rem;
        text-align: center;
    }
    .card {
        margin-bottom: -260px;
        height: 300px;
    }

    .card-header {
        margin-top: 0;
    }

    .card-header h2 {
        font-size: 2rem;
    }
    
    .content .project-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .card-list {
        display: block;
    }
    .card:hover {
        transform: translateY(-130px)
    }
    .card:hover~.card {
        transform: translateY(130px);
    }

    #projects {
        margin-top: 260px;
    }
    
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
        justify-content: center;
    }
    header:not([class]) {
        margin-left: 5rem;
        clip-path: polygon(50% 0%, 100% 0px, 100% 0%, 50% 100vh, 0px 0%, 0px 0px);
    }
    .aboutme-text {
        margin: 0 20rem;
        padding-bottom: 3rem;
    }
    .card {
        height: 350px;
        width: 400px;
    }
    .card-list {
        display: flex;
    }
    .card:hover {
        transform: translateY(-1rem);
    }
    .card:hover~.card {
        transform: translateX(130px);
    }
    .card:not(:first-child) {
        margin-left: -130px;
    }
}